<div class="row shadow p-3 mb-5 bg-white rounded">
    <div>
        <button mat-icon-button><mat-icon>star</mat-icon></button> 
    </div>
    <div class="col">      
        <select class="custom-select">
            <option selected>Selecione o Projeto</option>            
        </select>
    </div>
    <div class="col">
        <a class="new-project-btn" mat-button routerLinkActive="mat-raised-button" routerLink="../new-project"><fa-icon [icon]="['fas', 'plus']"></fa-icon> Novo Projeto</a>
    </div>        
    <div class="col" align="right">
        <button mat-flat-button [matMenuTriggerFor]="menu" color="primary"><fa-icon [icon]="['fas', 'file-import']"></fa-icon> Importar</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item><fa-icon [icon]="['fas', 'file-pdf']"></fa-icon> PDF</button>
            <button mat-menu-item><fa-icon [icon]="['fas', 'file-excel']"></fa-icon> Excel</button>
        </mat-menu>
    </div>
</div>