<div class="row shadow p-3 mb-5 bg-white rounded">
    <div>
        <button mat-icon-button><mat-icon>star</mat-icon></button> 
    </div>
    <div class="col">      
        <select class="custom-select">
            <option selected>Selecione o Projeto</option>            
        </select>
    </div>
    <div class="col">
        <a class="new-project-btn" mat-button routerLinkActive="mat-raised-button" routerLink="../new-project"><mat-icon>fiber_new</mat-icon> Novo Projeto</a>
    </div>        
    <div class="col" align="right">
        <button mat-flat-button [matMenuTriggerFor]="menu" color="primary"><mat-icon>arrow_downward</mat-icon> Importar</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>PDF</button>
            <button mat-menu-item>Excel</button>
        </mat-menu>
    </div>
</div>