<h2 mat-dialog-title>Nova Tarefa</h2>
<hr>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="taskForm" novalidate>
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width-form"> 
                    <mat-label>Título</mat-label>
                    <input matInput formControlName="title" placeholder="Título">
                    <mat-error *ngIf="hasError('title', 'required')">Informe o título da tarefa</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row" align="center">             
            <div class="col">
                <mat-form-field>
                    <mat-label>Prioridade</mat-label>
                    <mat-select formControlName="priority">
                      <mat-option value="1" selected>Baixa</mat-option>
                      <mat-option value="2" selected>Normal</mat-option>
                      <mat-option value="3" selected>Urgente</mat-option>
                    </mat-select>
                    <mat-error *ngIf="hasError('priority', 'required')">Informe a prioridade da tarefa</mat-error>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field>
                    <mat-label>Data de conclusão</mat-label>
                    <input matInput formControlName="conclusionDate" [matDatepicker]="TaskConclusionDatePicker" readonly (click)="TaskConclusionDatePicker.open()">
                    <mat-error *ngIf="hasError('conclusionDate', 'required')">Informe a data de conclusão da tarefa</mat-error>
                    <mat-error *ngIf="hasError('conclusionDate', 'invalidDate')">A data não pode ser anterior a data presente</mat-error>
                    <mat-error *ngIf="hasError('conclusionDate', 'invalidTaskConclusionDate')">A data não pode ser maior que a data de conclusão do projeto</mat-error>
                    <mat-datepicker-toggle matSuffix [for]="TaskConclusionDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #TaskConclusionDatePicker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width-form">
                    <mat-label>Descrição</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                    <mat-error *ngIf="hasError('description', 'required')">Informe a descrição da tarefa</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width-form">
                    <div>
                        <mat-label>Responsável</mat-label>
                    </div>
                    <input matInput style="display: none !important;">
                    <mat-selection-list #attendantList [multiple]="false" formControlName="attendant" [(ngModel)]="selectedAttendant" [compareWith]="compareSelected"> 
                        <mat-list-option *ngFor="let person of attendants" [value]="person">
                            <div class="row">
                                <div class="col-sm-2 justify-content-start">
                                    <ngx-avatar name="{{person.name}}" size="35"></ngx-avatar>
                                </div>
                                <div class="col align-self-center">
                                    {{person.name}}
                                </div>
                            </div>
                        </mat-list-option>
                    </mat-selection-list>
                    <mat-error class="float-right">Selecione o responsável pela tarefa</mat-error>
                </mat-form-field>
            </div>
        </div> 
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-flat-button color="warn" (click)="closeDialog()">Cancelar</button>
    <button mat-flat-button color="primary" class="float-right" (click)="saveTaskData()" [disabled]="!taskForm.valid">Salvar</button>
</mat-dialog-actions>