<form [formGroup]="loginForm" novalidate (ngSubmit)="login()"  fxLayout="column" class="auth-form">   
    <mat-form-field>
        <input matInput formControlName="email" placeholder="Email">
        <mat-error *ngIf="hasError('email', 'required')">Informe o email</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput formControlName="password" placeholder="Senha" type="password">
        <mat-error *ngIf="hasError('password', 'required')">Informe a senha</mat-error>
    </mat-form-field>
    <button mat-raised-button [disabled]="!loginForm.valid">Log In</button>
</form>   