<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer mode="over" opened class="example-sidenav">           
        <div class="text-center">
            <img class="img-fluid" src="../../../assets/logos/profile-small.png" alt="">
        </div>
        <div class="text-center">
            <div class="mb-2" fxLayout="row" fxLayoutAlign="center center">
                <ngx-avatar name="{{userName}}" size="100"></ngx-avatar>
            </div>
            <p><strong>{{userName}}</strong></p>
            <div fxLayout="row" fxLayoutAlign="space-evenly center">
                <div>
                    <a mat-button class="full-width-link" (click)="logout()"><fa-icon [icon]="['fas', 'sign-out-alt']"></fa-icon> Logout</a>
                </div>
                <div>
                    <a mat-button class="full-width-link" (click)="openProfileDialog()"><fa-icon [icon]="['fas', 'user-circle']"></fa-icon> Profile</a>
                </div>
            </div>            
        </div>
        <mat-divider class="m-3"></mat-divider>
        <div fxLayout="column" fxLayoutAlign="space-around center">
            <a class="full-width-link" mat-button routerLinkActive="mat-raised-button" routerLink="overview"><fa-icon [icon]="['fas', 'tasks']"></fa-icon> Visão Geral</a>                  
            <a class="full-width-link" mat-button routerLinkActive="mat-raised-button" routerLink="project"><fa-icon [icon]="['fas', 'project-diagram']"></fa-icon> Projetos</a>
        </div>
        <mat-divider class="m-3"></mat-divider>
        <div fxLayout="column" fxLayoutAlign="space-around center">
            <p><strong>Admin</strong></p>   
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        Cadastros Básicos
                    </mat-expansion-panel-header>
                    <div>
                        <a class="full-width-link" mat-button href="">Usuários</a>
                        <a class="full-width-link" mat-button href="">Pessoas</a>
                        <a class="full-width-link" mat-button href="">Tarefas</a>
                        <a class="full-width-link" mat-button href="">Projetos</a>
                    </div>                    
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        Estatísticas
                    </mat-expansion-panel-header>
                    <a class="full-width-link" mat-button href="">Relatórios</a>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <mat-divider class="m-3"></mat-divider>
        <app-footer></app-footer>        
    </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar class="mb-3 custom-toolbar">
            <button mat-icon-button aria-label="Expandir/contrair menu" (click)="drawer.toggle()">
                <mat-icon>more_horiz</mat-icon>
            </button>
        </mat-toolbar>        
        <router-outlet></router-outlet>        
    </mat-drawer-content>    
</mat-drawer-container>