<div class="row shadow p-3 mb-2 bg-white rounded">
    <div class="col">
        <p>Filtros</p>
        <mat-checkbox>Apenas incompletas</mat-checkbox>
    </div>
    <div class="col">
        <mat-label>Atribuído por</mat-label>
        <mat-select>
            <mat-option value="AAAA">AAAA</mat-option>
            <mat-option value="BBBB">BBBB</mat-option>
            <mat-option value="CCCC">CCCC</mat-option>
          </mat-select>
    </div>
    <div class="col">
        <mat-label>Prioridade</mat-label>
        <mat-select>
            <mat-option value="Baixa">Baixa</mat-option>
            <mat-option value="Normal">Normal</mat-option>
            <mat-option value="Alta">Alta</mat-option>
          </mat-select>
    </div>
    <div class="w-100"></div>
    <div class="col mt-2">
        <form action="">
            <mat-form-field style="width: 100%;">
                <mat-label>Procurar</mat-label>
                <input matInput>
              </mat-form-field>
        </form>
    </div>
</div>
