<div class="container">
    <div class="row">
        <div class="col">
            <h1>Visão Geral</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Tarefas com conclusão próxima</h2>
        </div>    
        <div class="col text-right">
            <button mat-button color="primary"><fa-icon [icon]="['fas', 'plus']"></fa-icon> Nova tarefa</button>
        </div>
    </div>
    <div class="row">
        <div class="col scrollable-col">
            <mat-selection-list #tasks [multiple]="false">
                <mat-list-option>Tarefa 1</mat-list-option>
                <mat-list-option>Tarefa 2</mat-list-option>
                <mat-list-option>Tarefa 3</mat-list-option>
                <mat-list-option>Tarefa 4</mat-list-option>
            </mat-selection-list>
        </div>
    </div>
    
    <div class="row mt-2">
        <div class="col">
            <h2>Projetos recentes</h2>
        </div>   
        <div class="col text-right">
            <button mat-button color="primary"><fa-icon [icon]="['fas', 'plus']"></fa-icon> Novo projeto</button>
        </div>     
    </div>
    <div class="row">
        <div class="col scrollable-col">
            <mat-selection-list #tasks [multiple]="false">
                <mat-list-option>Tarefa 1</mat-list-option>
                <mat-list-option>Tarefa 2</mat-list-option>
                <mat-list-option>Tarefa 3</mat-list-option>
                <mat-list-option>Tarefa 4</mat-list-option>
            </mat-selection-list>
        </div>        
    </div>
</div>
<style>
    .scrollable-col {
        max-height: 200px;
        overflow: hidden;
        overflow-y: scroll;
    }
</style>