<div class="container">
    <div class="row">
        <div class="col">
            <h1>Visão Geral</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Tarefas Concluídas</h2>
            <div class="col overview-task-list">
                <mat-nav-list>
                    <mat-list-item>
                       <a matLine>Tarefa</a>
                       <mat-icon class="gren-icon">check_circle_outline</mat-icon>                       
                    </mat-list-item>
                    <mat-list-item>
                       <a matLine>Tarefa</a>
                       <mat-icon class="gren-icon">check_circle_outline</mat-icon>                       
                    </mat-list-item>
                    <mat-list-item>
                       <a matLine>Tarefa</a>
                       <mat-icon class="gren-icon">check_circle_outline</mat-icon>                       
                    </mat-list-item>
                    <mat-list-item>
                       <a matLine>Tarefa</a>
                       <mat-icon class="gren-icon">check_circle_outline</mat-icon>                       
                    </mat-list-item>
                    <mat-list-item>
                       <a matLine>Tarefa</a>
                       <mat-icon class="gren-icon">check_circle_outline</mat-icon>                       
                    </mat-list-item>
                    <mat-list-item>
                       <a matLine>Tarefa</a>
                       <mat-icon class="gren-icon">check_circle_outline</mat-icon>                       
                    </mat-list-item>
                  </mat-nav-list>
            </div>
        </div>
        <div class="col">
            <h2>Tarefas Pendentes</h2>
            <div class="col overview-task-list">
                <mat-nav-list>
                    <mat-list-item>
                       <a matLine>Tarefa</a>
                       <mat-icon class="warn-icon">info</mat-icon>                       
                    </mat-list-item>
                    <mat-list-item>
                       <a matLine>Tarefa</a>
                       <mat-icon class="warn-icon">info</mat-icon>                       
                    </mat-list-item>
                    <mat-list-item>
                       <a matLine>Tarefa</a>
                       <mat-icon class="warn-icon">info</mat-icon>                       
                    </mat-list-item>
                  </mat-nav-list>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <h1>Progresso dos projetos</h1>
            <div class="col"> 
                <p>Gráfico de barras aqui</p>
            </div>
        </div>
    </div>
</div>